<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ONyRConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ONyR.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms cookieless="UseCookies"/>
		</authentication>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.serviceModel>
		<services>
			<service name="System.Web.ApplicationServices.AuthenticationService">
				<endpoint contract="System.Web.ApplicationServices.AuthenticationService" binding="basicHttpBinding" bindingNamespace="http://asp.net/ApplicationServices/v200"/>
			</service>
			<service name="UserService">
				<endpoint contract="IUserService" binding="basicHttpBinding"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
